/* universal styles */

html {
    font-family: 'Assistant', sans-serif, serif;
    box-sizing: border-box;
    margin: 0;
    text-align: justify;
    padding: 0;
    width: 100%;
    background: #CFCFCF;
    background: radial-gradient(ellipse farthest-side at top left, #CFCFCF 22%, #AC9E98 50%, #6F0B0A 100%);

}

.container {
    position: relative;
    margin: 2em 2em;
    /* outline: 2px solid red; */
}

hr {
    border-color: #6F0B0A;
}

/* header styles */

header {
    position: relative;
    top: 50px;
    display: inline-flex;
    gap: 4rem;
    width: 100%;
    margin-bottom: 1rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(255, 255, 255); opacity: 0.7;;
    z-index: 10;
    /* outline: 2px solid red; */
}

nav ul {
    list-style: none;
    text-align: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid black;
    margin: 0.1rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: brown;
    padding: 0.5% 5% 0.5% 5%;
}

a:hover {
    color:antiquewhite;
    background-color: black;
}

a:active {
    color: antiquewhite;
    background-color:cadetblue;
}

/* main styles start */

/* about me styles */

#introduction {
    display: flex;
    position: relative;
    align-items: center;
    top: 5em;
    margin-bottom: 5.5rem;
    padding-left: 2rem;
    /* outline: 2px solid red; */
}

#introduction img {
    position: relative;
    display: inline-flex;
    width: 30%;
    height: auto;
    border-radius: 50rem;
    box-shadow: 0px 0px 14px 11px rgba(128, 0, 0, 0.43);
}

#introduction h1 {
    position: relative;
    font-size: 2rem;
    padding: 0 2rem;
    outline: 2px solid red;
}

#section-item {
    position: relative;
    margin: 0 0.5rem;
    /* outline: 2px solid red; */
}

/* my projects styles */

#projects {
    display: flex;
}

#projects .item {
    margin: 0 1rem 0 0;
    padding: 0.3rem 0;
}

/* tech skills styles */

.skill--items {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

.skill--items i {
    font-size: 5rem;
    color: #d38585;
}