/* universal styles */

html {
    font-family: 'Assistant', sans-serif, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* header styles */

header {
    position: relative;
    top: 50px;
    display: inline-flex;
    gap: 4rem;
    width: 100%;
    margin-bottom: 1rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    outline: 2px solid red;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid black;
    margin: 0.1rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
    color: black;
    background-color: rgb(110, 196, 121);
    padding: 0.5% 5% 0.5% 5%;
}

a:hover {
    color:antiquewhite;
    background-color: black;
}

a:active {
    color: antiquewhite;
    background-color:cadetblue;
}

/* main styles start */

#introduction {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    top: 5em;
    padding: 1rem;
    outline: 2px solid red;
}

#introduction img {
    position: relative;
    display: inline-flex;
    width: 30%;
    height: auto;
    border-radius: 50rem;
    padding: 1rem;
}

#introduction h1 {
    font-size: 2rem;
    padding: 3rem;
    outline: 2px solid red;
}

#introduction .section-item {
    position: relative;
    outline: 2px solid red;
}

.container {
    position: relative;
    display: inline-flex;
    margin: 10em 10em;
    outline: 2px solid red;
}